# Concept2 PM3 Performance Monitor - grant read/write access to all users
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0425", ATTRS{idProduct}=="0000", MODE="0666"
