ROWING_HOST=0.0.0.0
ROWING_PORT=8000
ROWING_DIAGNOSTICS_ENABLED=1
# ROWING_KIOSK_GPU_MODE=auto
# ROWING_PORT_1=/dev/ttyUSB0
# ROWING_PORT_2=/dev/ttyUSB1
# ROWING_SERIAL_CONNECT_RETRIES=3
# ROWING_COUNTDOWN_SECONDS=5